// Configuration and helpers
@import 'abstracts/variables';
@import 'abstracts/mixins';

body {
  padding-top: 100px;
  font-family: $font-family;
  font-size: 20px;
}

/* Text meant only for screen readers. */
.screen-reader-text {
  position: absolute !important;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  border: 0;
  word-wrap: normal !important;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);

  &:focus {
    top: 5px;
    left: 5px;
    display: block;
    z-index: 100000;
    width: auto;
    height: auto;
    padding: 15px 23px 14px;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
    background-color: #f7f7f7;
    border-radius: 3px;
    color: #15beec;
    text-decoration: none;
    font-size: 0.875rem;
    font-weight: 700;
    line-height: normal;
    clip: auto !important;
    clip-path: none;
  }
}

.container {
  width: 100%;
  max-width: 1024px;
  padding: 0 24px;
  margin: 0 auto;
}
